<main class="animated-background">
  <div class="connect-box">
    <h2>Inicia sesión</h2>

    <form action="/auth/login" method="POST" id="form-container">
      <input id="username" type="text" name="username" placeholder="Nombre de usuario">
      <input id="password" type="password" name="password" placeholder="Contraseña">
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <button>Entrar</button>
    </form>
    <div class="facebook-connection">
      <div class="facebook-separator">
        <div class="sad-line"></div>
        <div class="sad-or">o bien</div>
        <div class="sad-line"></div>
      </div>
      <a href="/auth/facebook" class="facebook-conn-button">
      <img src="/images/facebook-icon.png" alt="">
      <p>Entra con Facebook</p>
      </a>
    </div>

    <div class="account-message">
      <p>¿Aún no estás registrado? <a href="/auth/signup">Únete</a></p>
      
    </div>
  </div>
</main>