<main class="animated-background">
  <div class="connect-box">
    <h2>Regístrate</h2>
    <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
      <input id="username" type="text" name="username" placeholder="Nombre de usuario">
      <input id="password" type="password" name="password" placeholder="Contraseña">
      <input type="file" name="photo" id="photo" class="inputfile">
      <label for="photo" class="filebutton">Añade tu foto de perfil</label>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <button class="signup">Crear cuenta</button>
    </form>

      <div class="account-message">
        <p>¿Ya estás registrado? <a href="/auth/login">Inicia sesión</a></p>
      </div>
  </div>
</main>

