<article class="comment" id="{{this._id}}">
  <div class="comment-user">
    <h6>{{this.user.username}} dijo:</h6>
  </div>
  <div class="comment-content">
    <p>{{this.content}}</p>
  </div>
</article>
