<article class="story-card">
  <div class="card-hero-header">
    <h3>"El sujeto..."</h3>
  </div>
  <div class="card_bottom">
    <div class="card_thumbnail">
      <img>
    </div>
    <div class="card_author">
      <p>Creado por</p>
      <p>{{this.collaborations.0.user.username}}</p>
    </div>
  </div>
  <div class="card_button">
    <a href="/story/{{this._id}}">Ver historia</a>
  </div>
</article>


