<header>

</header>
<main>
  <section class="dashstories continue">
    <a href="/dashboard/openstories">
      <div>
        <h2>Exquisits abiertos</h2>
        <p>Añade tu granito de arena en los memes del futuro 😎</p>
      </div>
    </a>
    <div class="card-deck dash">
      {{#each openstories}}
      {{> storyCard}}
      {{/each}}
    </div>
  </section>

  <section class="dashstories">
    <h2>Mis últimos exquisits</h2>
    <div class="card-deck dash">
      {{#each mystories}}
      {{> storyCard}}
      {{/each}}
    </div>
    <a href="/dashboard/mystories">
      <h4>Todos mis exquisits</h4>
    </a>
  </section>

  <section class="dashstories">
    <h2>Explorar Exquisits</h2>
    <div class="card-deck dash">
      {{#each stories}}
      {{> storyCard}}
      {{/each}}
    </div>
    <a href="/stories">
      <h4>Ver todos</h4>
    </a>
  </section>

</main>