{{!-- <header>

</header> --}}
<main>

  <div class="animated-background dash"></div>

  <section class="dashstories continue">
    <a href="/dashboard/openstories">
      <div class="title-header-section">
        <h2>😎 Exquisits abiertos</h2>
        <p>Añade tu granito de arena a los memes del futuro</p>
      </div>
    </a>
    {{#if openstories}}
    <div class="card-deck dash">
      {{#each openstories}}
      {{> storyCard}}
      {{/each}}
    </div>
    <div class="card-button">
      <a href="/dashboard/openstories">Más exquisits abiertos</a>
    </div>
    {{else}}
    <div class="empty-deck continue"></div>
    <p class="empty-message">Vaya, parece que no hay exquisits por completar...</p>
    {{/if}}
  </section>

  <div class="animated-background dash"></div>

  <section class="dashstories">
    <a href="/dashboard/mystories">
      <div class="title-header-section">
        <h2>
          <img src="https://images-na.ssl-images-amazon.com/images/I/51n91sx4oHL._SY355_.jpg" width="40px"> Mis últimos
          exquisits</h2>
        <p>Tu repositorio personal de internet trash</p>
      </div>
    </a>
    {{#if mystories}}
    <div class="card-deck dash">
      {{#each mystories}}
      {{> storyCard}}
      {{/each}}
    </div>
    <div class="card-button">
      <a href="/dashboard/mystories">Todos mis exquisits</a>
    </div>
    {{else}}
    <div class="empty-deck mystories"></div>
    <p class="empty-message">Si aún no creaste ni un triste exquisit, ¿qué esperabas?</p>
    {{/if}}
  </section>

  <div class="animated-background dash"></div>

  <section class="dashstories">
    <a href="/stories">
      <div class="title-header-section">
        <h2><img src="https://i0.wp.com/frenky.id/wp-content/uploads/2018/02/cropped-doge-icon-2.png" alt="" width="40px">
          Explorar exquisits</h2>
        <p>Wow. Much hilarious. So laughter. Very lol.</p>
      </div>
    </a>
    <div class="card-deck dash">
      {{#each stories}}
      {{> storyCard}}
      {{/each}}
    </div>
    <div class="card-button">
      <a href="/stories">Entra en el abismo</a>
    </div>
  </section>

  <div class="animated-background dash"></div>

</main>