<header class="index-header">
  <div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    {{!-- <a href="/dashboard"><h2>Go to Your Dashboard</h2></a> --}}

  </div>
</header>

<main>

</main>