<main>
  <div class="animated-background dash"></div>
  <div class="container">
    <h2 class="page-title">Explorador de exquisits</h2>
    <div class="card-deck">
      {{#each stories}}
      {{> storyCard}}
      {{/each}}
    </div>
  </div>
  {{#if isUserLoggedIn}}
  <div class="card-button">
    <a href="/dashboard">Ve a tu dashboard</a>
  </div>
  {{else}}
  <div class="card-button">
    <a href="/auth/signup">Regístrate y crea exquisits</a>
  </div>
  {{/if}}
  <div class="animated-background dash"></div>
</main>