<header class="index-header animated-background">
  <div class="index-hero-container">
    <div class="index-hero-gifs">
      <div class="hero-gif num1">
      <img src="https://media3.giphy.com/media/xT9IgoiyvYeTLbBqxO/giphy.gif">
      </div>
      <div class="hero-gif num2">
      <img src="https://media3.giphy.com/media/l1J9FiGxR61OcF2mI/giphy.gif">
      </div>
      <div class="hero-gif num3">
      <img src="https://media3.giphy.com/media/pPhyAv5t9V8djyRFJH/giphy.gif">
      </div>
    </div>
    <div class="index-hero-cta">
    <h1>Historias absurdas con tus amigos</h1>
    <p>Combina frases y gifs a ciegas para crear nuevos memes surrealistas</p>
    </div>
  </div>
</header>

<main>

</main>