<header class="index-header">
  <div class="index-hero-container">
    <div class="index-hero-cta">
    <h1>Historias absurdas con tus amigos</h1>
    <p>Combina frases y gifs a ciegas para crear nuevos memes surrealistas</p>
    </div>
  </div>
</header>

<main>

</main>