<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>

  <nav>
    <div class="navbar-logo">
      <a href="/"><img src="/images/exquisit_logo.png"></a>
    </div>
    <div class="menu">
      {{#if isUserLoggedIn}}
      <a href="/auth/logout">Logout</a>
      {{else}}
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      {{/if}}
    </div>
  </nav>
 
  {{{body}}}
  <footer>&copy;2018 exquisit.app</footer>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/setRandomGradient.js"></script>
</body>
</html>