<div id="giphy-image-randomizer">
  <img>
  <button id="get-new-gif">Get another GIF</button>
</div>

<form action="/story/{{story._id}}" method="POST">
    <input id="image_url" type="hidden" name="image_url" value="">
  {{#if middle}}
    <label>Introduce el verbo y complemento directo/indirecto de la historia para continuarla</label>
    <input id="content" type="text" name="content">
    <button>Continua la historia</button>
  {{else}}
    <label>Introduce los complementos circunstanciales de la historia para acabarla</label>
    <input id="content" type="text" name="content">
    <button>Acaba la historia</button>
  {{/if}}
</form>