<header class="finished-story-header">
  <h2>La historia</h2>
  <div class="finished-story-images">
    {{#each collaborations}}
    <div class="final-gif">
      <img src="{{image_url}}">
    </div>
    {{/each}}
  </div>
</header>
<main>
  <div class="container">
    <div>
      <h2>THE STORY:</h2>
      <p>
        {{#each collaborations}}
        {{content}}
        {{/each}}
      </p>
    </div>
    <div>
      <h3>THE AUTHORS:</h3>
      <p>
        {{#each collaborations}}
        {{user.username}}
        {{/each}}
      </p>
    </div>
  </div>
</main>