<div id="giphy-image-randomizer">
  <img>
  <button id="get-new-gif">Get another GIF</button>
</div>

<form action="/story/new" method="POST">
  <input id="image_url" type="hidden" name="image_url" value="">
  <label>Introduce el sujeto de la historia para empezar la historia!</label>
  <input id="content" type="text" name="content">
  <button>Crea nueva historia</button>
</form>