<main>
  <div class="animated-background dash"></div>
  <div class="container">
  <h2 class="page-title">Exquisits abiertos</h2>
    <div class="card-deck">
      {{#each stories}}
      {{> storyCard}}
      {{/each}}
    </div>
  </div>
   <div class="card-button">
      <a href="/dashboard">Vuelve a tu dashboard</a>
    </div>
  <div class="animated-background dash"></div>
</main>