<header>
<h2>Elige qué historia continuar</h2>
</header>
<main>
  <div class="container">
    <div class="card-deck">
    {{#each stories}}
      {{> storyCard}}
    {{/each}}
    </div>
  </div>
</main>