

.cont-comment {
  background-color: $extra-light-grey;
  .container {
    padding: 60px 30px;
    .comment-creation {
      text-align: left;
      padding-bottom: 60px;
      border-bottom: 1px solid darkslategrey;
      margin-bottom: 60px;
      input {
        padding: 20px;
        height: auto;
        margin-bottom: 20px;
      }
    }
    .comments-container {
      .comment {
        text-align: left;
        padding-bottom: 30px;
        .coment-user {
          p {
            margin-bottom: 5px;
          }
        }
        .form-control {
          padding: 20px;
          height: auto;
          p {
            margin-bottom: 0;
          }
        }
        .delete-comment{
          padding-top: 20px;
        }
      }
    }
  }
}

.comments-container {
  width: 100%;
  margin: 0 auto;
}

.comment-content {
  border: solid 1px $dark-grey;
  border-radius: 20px;
}
