html,
body {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

nav {
  flex: 0 0 auto;
  background-color: white;
  display: flex;
  padding: 22px;
  justify-content: space-between;
  align-items: center;
  .navbar-logo {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .menu {
    text-transform: uppercase;
    font-weight: 400;
    a {
      margin-right: 10px;
      color: $dark-grey;
    }
    a:last-of-type {
      margin: 0;
    }
  }
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
  padding: 20px;
  color: white;
  background-color: $dark-grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  img {
    display: block;
  }
  p {
    margin: 0;
  }
}


.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.buttonpersonal {
  border-radius: 7px;
  font-family: $body-font;
  font-size: $regular-size;
  flex: 0 0 auto;
  height: 60px;
  width: 270px;
  cursor: pointer;
}
