.card-deck {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.story-card{
  width: 270px;
  margin-right: 20px;
  &:last-child{
  margin-right: 0;
  }
  .card-hero-header {
    width: 100%;
    height: 190px;
    background-color: $secondary-main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    h3 {
      font-size: 25px;
      color: white;
    }
  }
  .card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    .card-thumbnail {
      background-color: $main-color;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
    }
    .card-author {
      width: 170px;
      text-align: left;
      p {
        margin: 0;
      }
      .muted-pre-title{
        color: $light-grey;
        font-size: 13px;
      }
      .author-username {
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  .card-button a{
    display: block;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 15px;
    color: $dark-grey;
    box-sizing: border-box;
    border: 2px solid $dark-grey;
  }

}

